doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title=title
body
  block header
    h1 Error
  block messages

  block content

  block footer

  block scripts
